@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Momlazim</title>
    @await Html.PartialAsync("_HeaderPartial")
</head>
<body>
    <header>
        <div class="navbar navbar-fixed-top">
            <div class="col-md-11">
                <div class="navbar-header navbar-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" width="205" height="50" alt="logo" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="Home" asp-action="Contact">צור קשר<span class="glyphicon glyphicon-envelope"></span></a></li>
                        <li><a asp-controller="Home" asp-action="About">אודותינו<span class="glyphicon glyphicon-envelope"></span></a></li>
                        <li><a asp-controller="Home" asp-action="Charts">סטטיסטיקות<span class="glyphicon glyphicon-user"></span></a></li>
                        @*<li>
                            <a asp-controller="Home" asp-action="Index">בלוג<span class="glyphicon glyphicon-folder-open"></span></a>
                        </li>*@
                        <li><a asp-controller="Home" asp-action="Index">ראשי<span class="glyphicon glyphicon-home"></span></a></li>

                    </ul>
                    @*@await Html.PartialAsync("_LoginPartial")*@
                </div>
            </div>
        </div>
        @if (Context.Request.Cookies["Session"] != null)
            {
            <div class="col-md-7 col-md-offset-4 ">
                <div class="sub-navbar">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Account" asp-action="AddBloodTest">הוסף בדיקת דם</a></li>
                            @**@<li><a asp-controller="Account" asp-action="Stats">סטטיסטיקה ומעקב</a></li>
                            <li><a asp-controller="Account" asp-action="BloodTest">הבדיקות שלי</a></li>
                            <li><a asp-controller="Account" asp-action="Details">פרטיים אישיים</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </header>
    <div id="content">
        <div id="mainContent" class="col-md-9">
            @RenderBody()
        </div>
        @*Aside*@
        <aside class="col-md-3">

            <header>
                <h3>התחברות</h3>
            </header>
            <section>

                @if (Context.Request.Cookies["Session"] == null)
                {
                    <form asp-controller="Home" asp-action="Login" method="post">
                        <div>
                            <div><b>שם משתמש</b></div>
                            <div>
                                <div class="input-group">
                                    <input type="text" placeholder="שם משתמש" name="username" required>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div><b>סיסמה</b></div>
                            <div>
                                <div class="input-group">
                                    <input type="password" placeholder="סיסמה" name="password" required>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger" id="loginButton" type="submit">התחבר</button>
                    </form>
                    <span class="text-danger">@ViewBag.Error</span>
                    <div align="center">
                        <a asp-controller="Account" asp-action="Register"><b>עדיין לא רשום? הירשם עכשו</b></a>
                    </div>
                }
                else
                {
                    <p>שלום, @Context.Request.Cookies["UserName"]</p>
                    <button class="btn btn-danger" id="loginButton" type="submit" onclick="location.href='@Url.Action("LogOut", "Home")'">התנתק</button>
                }

            </section>
            <header>
                <h3>ברוכים הבאים</h3>
            </header>
            <section>
                <p>שלום לכולם,</p><p>ברוכים הבאים לאתר BCare.</p>
            </section>
            <header>
                <h3>5 התרופות הפופלריות</h3>
            </header>
            <section>
                @for (int i = 0; i < 5; i++)
                {
                    <div>
                        @(i + 1). <span class="top5 n-@i"></span>
                    </div>
                }
            </section>
        </aside>
    </div>
    <hr />
    <footer>
        <div>
            <section id="about">
                <h3>אודות</h3>
                <p>&copy BCare - 2017.</p>
            </section>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
