@model BCare.Models.presCommentViewModel

<h2>ניתוח נתונים</h2>
<h4><b>תוצאות ניתוח הנתונים לבדיקת דם שבוצעה בתאריך @Model.bloodTest_Date.ToString("dd/MM/yyyy"):</b></h4>
לאחר ניתוח התוצאות מערכת <b>BCare</b> זיהתה:<br />
@Html.Raw(@Model.Text)
<br />
@if (Model.somcList.Count > 0)
{
    <div>התרופות אשר צריך ליטול:</div>
}
@foreach (var item in Model.somcList)
{
<div class="med"><p style="float: right;"><img id="imageMed" src="@item.SOMI.ProductImageURL" height="90" width="90"></p>
<p>
    <div><b><u>שם תרופה:</u></b> @item.SOMI.SOMName</div>
    <div><b><u>כמות צריכה יומית:</u></b> @item.pres.AmountToConsume</div>
    <div><b><u>ימי צריכה:</u></b> @item.pres.DaysToConsume</div>
</p></div>

}
<h2>תגובה:</h2>
<div class="addFeedback">
    <button id="addFeedback" class="btn btn-default">הוסף תגובה</button>
    <div class="text-danger">@ViewBag.Error</div>
    <form asp-controller="Account" asp-action="addFeedback" method="post">
        <div class="newFeedback">
            <br />
            <div>דירוג: @Html.DropDownList("rating", Html.GetEnumSelectList<BCare.Models.Rating>())</div>
            <div>תוכן התגובה: <br /><textarea name="content"></textarea></div>
            <input type="number" name="id" value="@ViewContext.RouteData.Values["id"]" hidden />
            <button type="submit">הוסף תגובה</button>
        </div>
        <br />
        </form>
</div>
@if(Model.rofvmList.Count > 0) { 
<div class="feedbackSection">
    <div>
        <header>
            <b><u>שם:</u></b> @Model.rofvmList[0].first_Name @Model.rofvmList[0].last_Name
            <span class="rating star-@Model.rofvmList[0].rof.Rating"></span>
        </header>
        <span>
            @Model.rofvmList[0].rof.Text
        </span>
    </div>
    @*@foreach (var item in Model.rofvmList)
        {

            <div>
                <header>
                    <b><u>שם:</u></b> @item.first_Name @item.last_Name
                    <span class="rating star-@item.rof.Rating"></span>
                </header>
                <span>
                    @item.rof.Text
                </span>
            </div>
        }*@
</div>
}
<script>
    $('#addFeedback').click(function () {
        $('.newFeedback').toggle();
    });
</script>