@model BCare.Models.presCommentViewModel

<h2>ניתוח נתונים</h2>
<h4><b>תוצאות ניתוח הנתונים לבדיקת דם שבוצעה בתאריך @Model.bloodTest_Date:</b></h4>
לאחר ניתוח התוצאות מערכת BCare זיהתה כי ישנו מחסור ב:<br />
@foreach (var item in Model.somcList)
{
    @Html.Raw(@item.pres.Text)
    <div>כמות צריכה יומית: @item.pres.AmountToConsume</div>
    <div>ימי צריכה: @item.pres.DaysToConsume</div>

}
@*<ul>
    <li>Vitamin D</li>
    <li>Vitamin A</li>
</ul>  
הטיפול שמערכת BCare מציעה הוא:<br />
כדי לטפל במחסור ב - Vitamin D אחת הדרכים הטובות ביותר לצרוך ויטמין D היא פשוט להיחשף לשמש. חשיפה של פעמיים בשבוע, למשך כחצי שעה, אמורה להספיק כדי לייצר בגוף את הכמות המספקת בשביל כל אותו שבוע. חשיפה קבועה מידי יום למשך כעשר דקות (ולא לזמן רב מידי, כדי לא להזיק לעור) מומלצת מאוד.<br />
אפשרות נוספת היא לצרוך את הויטמין דרך האוכל. אלו חלק מהמאכלים בהם יש כמויות גדולות יחסית של הויטמין:<br />
ויטמין D במזון:<br />
<ul>
    <li>כבד דגים</li>
    <li>דגים 'שמנים' (טונה, סרדינים וכדומה)</li>
    <li>מוצרי חלב</li>
    <li>חלבון ביצה</li>
    <li>טחול, מעיים ושאר איברים פנימיים</li>
</ul>
כדי לטפל ב - Vitamin A להלן שני אופניי הגעת הויטמין לגוף האדם:<br />
<ul>
    <li>אכילת כבד, ביצים, דגים וכו' - רטינול זהו הצורה של הויטמין עצמו.</li>
    <li>אכילת פירות וירקות בעלי צבעים בהירים הנהפכים לויטמין A במגע עם הכבד.</li>
    <li>באופן זה הגוף צורך בטא קרוטן - פגמנט צהוב כתום ממשפחת הקרטנואידים - המקור העיקרי לויטמין A בגוף.</li>
</ul>*@

<h2>תגובות:</h2>
<div class="feedbackSection">
    @foreach (var item in Model.rofList)
    {
        <div>
            <header>
                ת.ז: @item.RFUserID
            </header>
            <span>
                @item.Text
            </span>
        </div>
    }
</div>