@model BCare.Models.UserDetailViewModel
@{
    ViewBag.Title = "יצירת משתמש";
}

<h2>@ViewData["Title"]</h2>
@if (Context.Request.Cookies["Session"] == null)
{
    @Html.AntiForgeryToken()
    <div class="main-login main-center col-md-8 col-lg-offset-2">
        @using (Html.BeginForm()) {
        <div class="form-group col-lg-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
            @Html.LabelFor(m => m.user.UserID)
            <div class="cols-sm-10">
                <div class="input-group">
                    <div>@Html.TextBoxFor(m => m.user.UserID,new { @class = "form-control" , placeholder="הכנס מספר תעודת זהות" , tabindex = "1" })</div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.user.UserID)</span>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(m => m.user.PWHash)
            <div class="cols-sm-10">
                <div class="input-group">
                    <div>@Html.TextBoxFor(m => m.user.PWHash, new { @class = "form-control", placeholder = "הכנס סיסמה" , type="password" , tabindex = "3" })</div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.user.PWHash)</span>
                </div>
            </div>
        </div>

            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.user.UserName)
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div>@Html.TextBoxFor(m => m.user.UserName, new { @class = "form-control", placeholder = "הכנס שם משתמש" , tabindex = "2" })</div>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.UserName)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-12">
                @Html.LabelFor(m => m.user.Email)
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div>@Html.TextBoxFor(m => m.user.Email, new { @class = "form-control", placeholder = "הכנס כתובת מייל" , tabindex = "4" })</div>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.Email)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.user.LastName)
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div>@Html.TextBoxFor(m => m.user.LastName, new { @class = "form-control", placeholder = "הכנס שם משפחה" , tabindex = "6" })</div>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.LastName)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(m => m.user.FirstName)
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div>@Html.TextBoxFor(m => m.user.FirstName, new { @class = "form-control", placeholder = "הכנס שם פרטי" , tabindex = "5" })</div>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.FirstName)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-12">
                @Html.LabelFor(m => m.user.Address)
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div>@Html.TextBoxFor(m => m.user.Address, new { @class = "form-control", placeholder = "הכנס כתובת" , tabindex = "7" })</div>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.Address)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-12">
                @Html.LabelFor(m => m.user.BirthDate)
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div>@Html.TextBoxFor(m => m.user.BirthDate, new { @class = "form-control", placeholder = "הכנס תאריך לידה" , tabindex = "8" , type="date"})</div>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.BirthDate)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(m => m.isDoctor)
                <div class="cols-sm-10">
                    <div class="input-group">
                        כן\לא: @Html.CheckBoxFor(m => m.isDoctor , new { @tabindex = "12" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.isDoctor)</span>
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-4">
                @Html.LabelFor(m => m.user.HMOID)
                <div class="cols-sm-10">
                    <div class="input-group">
                        @Html.DropDownList("user.HMOID", (SelectList)ViewBag.ListHMO , new { @tabindex = "11" })
                            <span class="text-danger">@Html.ValidationMessageFor(m => m.user.HMOID)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-2">
                @Html.LabelFor(m => m.user.BloodType)
                <div class="cols-sm-10">
                    <div class="input-group">
                        @Html.DropDownList("BloodType", Html.GetEnumSelectList <BCare.Models.BloodType>() , new { @tabindex = "10" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.BloodType)</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-2">
                @Html.LabelFor(m => m.user.Gender)
                <div class="cols-sm-10">
                    <div class="input-group">
                        @Html.DropDownList("Gender", Html.GetEnumSelectList<BCare.Models.Gender>() , new { @tabindex = "9" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.user.Gender)</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-lg btn-block login-button">הרשמה</button>
        }
    </div>
}
else
{
    <p>אתה מחובר למערכת.</p>
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}